@import "styles/mixins.scss";

.services_wrapper{

    &_boxes{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
      gap: 20px;
  
      .box{
        @include element-center ;
        gap: 20px;
        padding: 20px 10px;
        border-radius: 20px;
        box-shadow: 0px 7px 25px -10px rgba(0,0,0,0.75);
  
  
        .infos{
          @include direction-column;
          gap: 20px;
        }
      }
    }
  }