@import "styles/mixins.scss";



.animationslide_wrapper{
  @include direction-column;
    gap: 20px;
    height: 100%;
    // position: absolute;

    .marquee {
      height: 100%;
      padding: 15px 0;

      &__item {
        @include align-items-center;
        margin-right: 100px;
      }
    }


}


