@import "styles/mixins.scss";

.projects {
  padding: 50px 0;

  p {
    text-align: center;
    font-size: 30px;
  }

  &_content {
    @include direction-column;
    gap: 50px;
  }

  &_button {
    display: flex;
    justify-content: flex-end;
  }
}
