@import "styles/mixins.scss";

.preusible {
  @include direction-column;
  gap: 30px;

  &_tabs {
    @include justify-content-center;
    flex-wrap: wrap;
    &_inner {
      @include align-items-center;
      gap: 20px;
    }
  }

  &_cards {
    @include direction-column;
    gap: 30px;

    &_card {
      @include justify-content-between;
    }
  }
}
