@import "styles/mixins.scss";

.footer {
  background-image: url("/assets/images/bg_gradient_bottom.png");
  background-position-y: -150px;
  height: 350px;
  padding: 100px 0 10px 0;

  &_main {
    @include justify-content-between;
    padding-bottom: 30px;

    &_logo {
      p {
        color: gray;
        font-size: 16px;
      }
    }

    &_info {
      @include justify-content-between;
      gap: 100px;

      &_items {
        @include direction-column;
        gap: 30px;

        nav {
          ul {
            @include direction-column;
            gap: 7px;

            li {
              list-style-type: none;
              font-weight: 500;
              letter-spacing: 1px;
              color: gray;
            }
          }
        }
      }
    }
  }

  span {
    color: gray;
  }
}
