@import "styles/mixins.scss";

.footer {
  background-position-y: -150px;
  padding: 100px 0 10px 0;
  color: #FFFFFF;

  .star_items{
    position: absolute;

    .item1{
      position: relative;
      top: 150px;
      left: -20px;
    }

    .item2{
      position: relative;
      top: -90px;
      left:5px;
    }

    .item3{
      position: relative;
      right: -100px;
      border: 2px solid red
    }
  }

  &_main {
    @include justify-content-between;
    padding-bottom: 30px;

    &_logo {
      font-size: 56px;
      font-family: "Poppins" sans-serif;
      letter-spacing: 2px;
    }

    &_info {
      @include justify-content-between;
      gap: 100px;

      &_items {
        @include direction-column;
        gap: 30px;

        nav {
          ul {
            @include direction-column;
            gap: 7px;

            li {
              list-style-type: none;
              font-weight: 500;
              letter-spacing: 1px;
              color: inherit;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }

  .footer_items {
    text-align: center;
    @include direction-column;
    font-size: 19px;

    a{
      color: inherit;
    }
  }
}


