@import "styles/mixins.scss";
@import "styles/functions.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.title{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

.subtitle{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.redLetters{
    color: #EC3B3B;
    font-weight: 600;
  }


.navbar {
  padding-bottom: 85px;
}

.suspense {
  width: 100%;
  height: 100vh;
  @include element-center;
}

.animationslide_wrapper{
  @include direction-column;
    gap: 10px;
    position: relative;

    .marquee {
      height: 100%;
      padding: 15px 0;

      &__item {
        @include align-items-center;
        padding-left: 100px;
      }
    }

    .marquee2{
      position: absolute;
      top: 10px;
      transform: rotate(-4deg);
      z-index: 100;
    }

    .marquee3{
      position: absolute;
      top: 10px;
      transform: rotate(4deg);
      z-index: 100;
    }

}


.mySwiper{
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination{
    display: none;
  }
}


.rfm-marquee{
  min-width: unset !important;
}

















































/* Default scrollbar width */
::-webkit-scrollbar {
  width: 3px;
}


/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EC3B3B; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EC3B3B; 
}
