@import "styles/mixins.scss";
@import "styles/functions.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background 0.5s ease-in-out;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

.title{
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle{
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.redLetters{
    color: #EC3B3B;
    font-weight: 600;
  }


.navbar {
  padding-bottom: 120px;
}

.suspense {
  width: 100%;
  height: 100vh;
  @include element-center;
}
